
@*  @{
     ViewData["Title"] = "Index";
 } *@
@* 
<div class="bg-dark pt-4 " id="sidebar-wrapper" style="width: 250px; min-height: 100vh;">
   <div>
        <div class="text-center">
            <img src="https://attic.sh/yb6l2mqmei5h05bb4hozvow7zhr1" class="rounded-circle m-auto mb-3" style="width: 150px; height: 150px;" alt="Admin Avatar">
            <h4 class="text-white">User</h4>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-dark text-white text-center border-0 border-bottom" asp-controller="Category" asp-action="CreateCategory" style="border-color: white;">
                <i class="fas fa-video mr-2"></i>Create Category
            </a>
            <a id="logoutButton" class="list-group-item list-group-item-action bg-dark text-white text-center border-0 border-bottom" style="border-color: white;" onclick="showLogoutConfirmation()">
                <i class="fas fa-sign-out-alt mr-2"></i>Logout
            </a>
             <a class="list-group-item list-group-item-action bg-dark text-white text-center border-0 border-bottom" asp-controller="Account" asp-action="Settings" style="border-color: white;">
            <i class="fas fa-cog mr-2"></i>Settings
            </a> 
        </div>
   </div>
</div> *@